<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Danh sách đơn hàng</title>
    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script src="/static/js/vendor/jquery-library.js"></script>
    <script src="/static/js/vendor/version2bootstrap.min.js"></script>

    <!-- DataTables CSS -->
    <link
      href="/static/testDataTable/vendor/datatables-plugins/dataTables.bootstrap.css"
      rel="stylesheet"
    />

    <!-- DataTables Responsive CSS -->
    <link
      href="/static/testDataTable/vendor/datatables-responsive/dataTables.responsive.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      href="/static/testDataTable/dist/css/sb-admin-2.css"
      rel="stylesheet"
    />

    <!-- Custom Fonts -->
    <link
      href="/static/testDataTable/vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div>
      <%- include ../../components/navbar%>
      <!-- <div id="wrapper"> -->
      <!-- <div id="page-wrapper"> -->
      <div class="row container"></div>
      <!-- /.row -->
      <div class="row" style="margin-top: 4vw">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">Hoá đơn chờ duyệt</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <table
                width="100%"
                class="table table-striped table-bordered table-hover"
                id="bill_table"
              >
                <thead>
                  <tr>
                    <th>Mã HĐB</th>
                    <th>Tên khách hàng</th>
                    <th>Ngày</th>
                    <th>Sản phẩm</th>
                    <th>ID Shipper</th>
                    <th>Trạng thái đơn</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let i=0; i < data.bill.length; i++){%>
                  <tr>
                    <td><%= data.bill[i].ma_hoa_don_ban%></td>
                    <td><%= data.bill[i].ho_ten%></td>
                    <td><%= data.bill[i].ngay_tao%></td>
                    <td>
                      <% for(let j = 0; j < data.bill[i].san_pham.length; j++)
                      {%> Mã sách: <%= data.bill[i].san_pham[j].ma_sach%> <br />
                      Tên sách: <%= data.bill[i].san_pham[j].ten_sach%><br />
                      Số lượng: <%= data.bill[i].san_pham[j].so_luong%>
                      <br /><br />
                      <%}%>
                    </td>
                    <td><%= data.bill[i].id_shipper%></td>
                    <td>
                      <% if (data.bill[i].trang_thai_don == 'cho_duyet') {%> Chờ
                      duyệt <% } if(data.bill[i].trang_thai_don == 'da_duyet') {
                      %> Đã duyệt <% } if(data.bill[i].trang_thai_don ==
                      'dang_giao') { %> Đang vận chuyển <% }
                      if(data.bill[i].trang_thai_don == 'da_thanh_toan') {%> Đã
                      thanh toán <% } if (data.bill[i].trang_thai_don ==
                      'da_huy') {%> Đã huỷ <% } %>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- </div> -->
      <!-- /#page-wrapper -->
      <!-- </div> -->
      <!-- /#wrapper -->
    </div>

    <!-- jQuery -->
    <script src="/static/testDataTable/vendor/jquery/jquery.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="/static/testDataTable/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/testDataTable/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/testDataTable/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script>
      $(document).ready(function() {
        $("#bill_table").DataTable({
          responsive: true
        });
      });
    </script>
  </body>
</html>
